<% provide(:title, t(".edit")) %>
<% provide(:button_text, t(".update")) %>
<% provide(:is_edit?, "true") %>
<% provide(:url, admin_product_path) %>
<div class="container-fluid">
  <div class="content">
    <section class="wrapper">
      <%= render "form" %>
    </section>
  </div>
</div>
