<% provide(:title, t(".edit")) %>
<% provide(:button_text, t(".update")) %>
<% provide(:is_edit?, "true") %>
<% provide(:url, admin_product_path) %>
<<<<<<< f54655364e746c5060c571d24ff0f2b94c5c5b86
<div class="container-fluid">
  <div class="content">
    <section class="wrapper">
      <%= render "form" %>
    </section>
  </div>
</div>
=======

<%= render "form" %>
>>>>>>> finish manager table
