.spr-container {
  background: #f4f4f4;
  padding: 24px;
  border: 1px solid rgba(0,0,0,0.1);
  border-color: #ececec;
  margin-bottom: 20px;
}

.spr-header-title {
  font-size: 24px;
  margin: 0 0 12px 0;
  font-family: Marck Script;
  color: #b3ce58;
}

.spr-summary-caption {
  font-size: 14px;
  line-height: 1.7;
  font-family: Nunito;
  color: #a8b2b7;
}

.btn {
  float: right;
}

.custom_class {
  padding: 20px;
}

.new_review {
  margin: 25px;
}
